.custom-dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-menu {
    width: 100%;
    text-align: left;
  }

  .custom-card {
    width: auto;
    border: none;
    display: inline;
  }

  .card-img-bottom-right {
    position: absolute;
    margin-right: 2%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:none;
    bottom: 0;
    right: 0;
  }

  .custom-btn{
    width: 100%;
    height: 50px;
    border: none;
    background-color: gainsboro;
    color: black;

  }
 