body, html{
  box-sizing: border-box;
  height: 100%; 
  margin: 0;
  padding: 0;
  /* background: rgba(0,0,0,0.8); */
  font-family: Arial, Helvetica, sans-serif;
}

#navbar{
  width: 100%;
  text-align: right;
  height: 70px;
  line-height: 70px;
  background: maroon;
  border-bottom: rgba(255,255,255,0.3);     
  top:0;
  }

.logo a{
  text-decoration: none;
  float:left;
  margin-left: 40px;
  margin-top: 2px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  display: none;
}

.menu {
  margin-right: 30px;
}


.menu a {
  text-decoration: none;
  text-align: center;
  padding: 5px 20px;
  line-height: 70px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  border-radius: 6px; 
}

label{
  margin-right: 40px;
  font-size: 25px;
  line-height: 70px;
  margin-top: 10px;
  padding: 0 10px;
  float: right;
  width: 25px;
  display:none;
}

label i {
  color: #fff;
  position: relative;
  margin-right: 10px;
}

#nav-toggle{
  display: none;
}

.menu a.active{
    font-size: 150%;
}

.menu a:hover:not(.active){
    font-size: 150%;
}

  

.bg-image{
  /* The image used */
  background-image: url("/Ashesi_Campus2.jpg");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  /* background-color: rgb(0,0,0); /* Fallback color */
  /* background-color: rgba(0,0,0, 0.4); Black w/opacity/see-through */ 
  color: white;
  font-weight: bold;
  /* border: 3px solid #f1f1f1; */
  position: absolute;
  top: 35%;
  /* left: 0%;*/ 
  transform: translate(40%, 10%); 
  font-size: 80px;
  z-index: 2;
  width: 50%;
  margin-left: 60px;
  text-align: center;
  text-shadow: 0px 2px 15px black;
}



